<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>버스 노선 {{bus.busRouteId}}의 상세 정보</h3>
<table border="1">
    <tr><tr><th>버스명</th><td>{{bus.busRouteNm}}</td></tr>
    <tr><th>기점</th><td>{{bus.stStationNm}}</td></tr>
    <tr><th>종점</th><td>{{bus.edStationNm}}</td></tr>
    <tr><th>배차간격</th><td>{{bus.term}}</td></tr>
    <tr><th>첫차 시간</th><td>{{bus.firstBusTm}}</td></tr>
    <tr><th>막차 시간</th><td>{{bus.lastBusTm}}</td></tr>
    <tr><th>버스 회사</th><td>{{bus.corpNm}}</td></tr>
</table>
<br/><br/>
<h4>이 노선의 정거장 정보</h4>
<table border="1">
    <tr><th>순번</th><th>정거장명</th><th>arsId</th></tr>
    {% for s in stations %}
    <tr>
        <td>{{s.seq}}</td>
        <td>{{s.stationNm}}</td>
        <td>{{s.arsId}}</td>
    </tr>

    {% endfor %}
</table>
</body>
</html>