<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>회원가입</h3>
<form action="/member/join" method="post">
    <table border="1">
        <tr>
            <th>id</th><td><input type="text" name="id"></td>
        </tr>
        <tr>
            <th>pwd</th><td><input type="password" name="pwd"></td>
        </tr>
        <tr>
            <th>name</th><td><input type="text" name="name"></td>
        </tr>
        <tr>
            <th>email</th><td><input type="text" name="email"></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="가입">
                <input type="reset" value="다시 입력">
            </td>
        </tr>
    </table>
</form>
</body>
</html>