<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
      function go(){
          location.href='/';    //페이지 이동. root로 감
     }
    </script>
</head>
<body>
<form action="/product/edit" method="post">
    <table border="1">
      <tr>
        <th>제품 번호</th>
        <td><input type="text" name="num" value="{{prod.num}}" readonly></td>
      </tr>
      <tr>
        <th>제품 이름</th>
        <td><input type="text" name="name" value="{{prod.name}}" readonly></td>
      </tr>
      <tr>
        <th>제품 가격</th>
        <td><input type="text" name="price" value="{{prod.price}}"></td>
      </tr>
      <tr>
        <th>제품 수량</th>
        <td><input type="text" name="amount" value="{{prod.amount}}"></td>
      </tr>
      <tr>
        <th colspan="2"><input type="submit" value="수정">
          <input type="button" value="go index" onclick="go()"></th>
      </tr>
    </table>
</form>
</body>
</html>